.course-list {
  background-color: cadetblue;
  border-radius: 8px;
}

.shopping-list {
  background-color: silver;
  border: solid 1px gray;
}

.course-list-v2 ul {
  background-color: cadetblue;
  border-radius: 8px;
}

.shopping-list-v2 ul {
  background-color: silver;
  border: solid 1px gray;
}
